<div name="new">
  <a href="/new">New Document</a>
</div>

<div name="files">
  <ul>
    <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a> 
      <a href="/<%= file %>/edit" />Edit</a>
      <form class="inline" action="/<%= file %>/delete" method="post">
        <button type="submit">Delete</button>
      </form>
    </li>
    <% end %>
  </ul>
</div>
